body {
    left: 0px;
    top: 0px;
}

.nav {
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    display: flex;
    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image {
    /* top: 20px;
     */
    margin-top: 30px;
    margin-left: 50px;

}

.home {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3683F0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 40px;
}

.bell {
    margin-left: 5px;
}

.dot {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1;
    margin-top: -10px;
    margin-left: -5px;

}

.icons {
    display: flex;
    margin-left: 700px;
}

.avatar {

    width: 40.36px;
    height: 40px;
    border-radius: 250px;
    margin-top: 30px;
}

.side_dot {
    margin-top: 35px;
    margin-left: 30px;
}

.dots {
    width: 4px;
    height: 4px;
    margin-top: 3px;
    border-radius: 50%;
    background-color: #3683F0;

}

/* body*/

.container {
    margin-top: 140px;
    display: flex;
}

.hamburger {
    width: 80px;
    height: 808px;
    border: 0.5px solid rgb(195, 187, 187);
    left: 0px;
    margin-left: -10px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.dropdown {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.2rem;
    width: 80px;
    height: 35px;
    border-top-right-radius: 15px;
    margin-top: -3px;
    cursor: pointer;

}

button {
    background-color: black;
    color: white;
}

#bars {
    margin-left: 50px;
    margin-top: 8px;
}

.number {
    width: 40px;
    height: 40px;
    border: 0.5px solid rgb(30, 82, 240);
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(30, 82, 240);
    font-size: 1.2rem;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    background-color: white;
    overflow: auto;
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 814px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-left: 30px;
    margin-top: -31px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

}

hr {
    width: 110px;
    border-top: .5px solid rgb(195, 192, 192);
    margin-left: -1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    font-size: 18px;
    color: rgb(73, 72, 72);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.head {
    margin-left: -30px;
    background-color: black !important;
    color: white !important;

}

/* main */

.main {
    margin-left: 130px;
}

.heading {
    border: 0.5px solid rgb(30, 82, 240);
    position: absolute;
    width: 940px;
    height: 45px;
    background: #0029FF;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 1.23rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.tasks {
    box-sizing: border-box;

    position: absolute;
    width: 951px;
    height: 2400px;
    margin-top: 45px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.task1 {
    position: absolute;
    width: 370px;
    height: 250px;
    border: 0.5px solid rgb(212, 212, 212);
    margin-top: 80px;
    border-radius: 15px;
    margin-left: 60px;

}

.heading1 {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.lorem {
    margin-left: 10px;
    margin-top: 10px;
}

.arrow {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 1.5rem;
}

.inputs {
    border: none;
    margin-top: 10px;
    color: rgb(181, 181, 181);
    outline: none;
}

.selection {
    display: flex;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 8px;
    justify-content: space-evenly;
}

.category {
    width: 120px;
    height: 20px;
    border: 1px solid #F0F0F0;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5px;

}

.process {
    width: 120px;
    height: 20px;
    font-size: 13px;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5px;

}

.material-icons {
    font-size: 10px;
}

.thread {
    width: 80px;
    height: 23px;
    font-size: 13px;
    color: white;
    border: 1px solid #0029FF;
    padding-top: 8px;
    background-color: #0029FF;
    padding-left: 5px;
    border-radius: 7px;
    margin-top: 25px;
    margin-left: 30px;
}

.nothing {
    /* padding: 80px 25px; */
    width: 320px;
    height: 160px;
    border: 0.5px solid rgb(212, 212, 212);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(67, 67, 67, 0.25);
    font-size: 13px;
    /* color: rgba(0, 0, 0, 0.25); */
    color: gray;
    padding: 5px;
}

.fileimg {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin-left: 55px;
    margin-top: -5px;
    z-index: 0; */
}